<div class="filter-chip-container">
  <form>
    <input type="text" placeholder="Filter by city">
    <button class="primary" type="button">Search</button>
  </form>
</div>

<div class="card-container">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'"
         fxFlex.xs="100%"
         fxFlex.sm="33%"
         *ngFor="let review of reviews">
      <mat-card class="mat-elevation-z4">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>{{review.locationName}}</mat-card-title>
          </mat-card-header>
          <p>Address: {{review.address}}</p>
          <p>Rating: {{review.rating}}</p>
          <p>Cuisine: {{review.cuisine}}</p>
          <p>Food Quality: {{review.foodQuality}}</p>
          <p>Comments: {{review.comments}}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
