<div class="search-bar-container">
  <mat-form-field>
    <mat-label>Search by cuisine</mat-label>
    <input matInput [(ngModel)]="reviewSearch" />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<div class="card-container">
  <div class="card-wrapper">
    <div *ngFor="let review of filteredReviews()" class="card-item">
      <mat-card class="mat-elevation-z4">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>{{ review.locationName }}</mat-card-title>
          </mat-card-header>
          <hr />

          <div class="row">
            <div class="column">
              <mat-card-subtitle>Location:</mat-card-subtitle>
              <p>{{ review.address }}</p>

              <mat-card-subtitle>Rating:</mat-card-subtitle>
              <p>{{ review.rating }}</p>
            </div>

            <div class="column">
              <mat-card-subtitle>Cuisine:</mat-card-subtitle>
              <p>{{ review.cuisine }}</p>

              <mat-card-subtitle>Food Quality:</mat-card-subtitle>
              <p>{{ review.foodQuality }}</p>
            </div>
          </div>

          <mat-card-subtitle>Comments:</mat-card-subtitle>
          <p class="comments">{{ review.comments }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
