.search-bar-container {
  padding: 10px 16px;
  width: 100%;
}

.card-container {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-item {
  width: calc(33.33% - 16px);
  margin-bottom: 16px;
}

.mat-card {
  width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  margin-right: 16px;
}

.comments {
  white-space: normal;
}
