.header-spacer {
  flex: 1 1 auto;
}

img {
  width: 70px;
  height: 70px;
}

mat-toolbar {
  background-color: #faf0dc;
  height: auto;
}

.title-styles {
  text-decoration: none;
  color: black;
}

mat-sidenav-content {
  height: 100vh;
}

.sidenav-icon {
  vertical-align: middle;
}

mat-icon {
  padding-right: 10px;
}

.sidenav-titles {
  vertical-align: middle;
}
