mat-card {
  height: 650px;
  width: 1000px;
  margin: 20px auto 0;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
}

/* container */
.review-col-grid {
  display: block;
  text-align: center;
}

/* columns */
.review-col-grid > * {
  padding: 1rem;
}

mat-form-field {
  width: 400px;
}

.comment-section {
  width: 840px;
  height: 200px;
  padding-left: 80px;
  padding-right: 80px;
}

.review-rating {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.checked {
  color: orange;
}

mat-icon {
  cursor: pointer;
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.submit-btn {
  display: flex;
  justify-content: center;

  & button {
    width: 840px;
    height: 50px;
  }
}
