.search-bar-container {
  padding: 10px 16px;
  width: 100%;
}

.card-container {
  padding: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.card-item {
  width: 100%;
}

.mat-card {
  width: 100%;
}

.mat-card-content {
  height: 125px;
}

mat-card-header {
  padding-left: 0;
}

mat-card-subtitle {
  font-weight: bold;
}

.comments {
  white-space: normal;
}
